html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: sans-serif;
  line-height: 1.2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  background-color: #79756f;
  text-align: center;
  border: 3px solid #595652;
  color: #fff;
}

ul {
  padding: 0;
}

h1 {
  display: block;
  font-family: Bevan, serif;
  padding: .48em 0 .035em;
  margin: 0;
}

a {
  display: inline-block;
  padding: .6em .5em .75em;
  margin: .3em;
  background-color: #713837;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding: 0 0 .6em;
  margin: 0;
}

nav li {
  display: inline-block;
}

a:hover {
  background-color: #f33;
  color: #fff;
}
